# Python virtual environment
venv/

# Environment variables file
.env

# Python cache files
__pycache__/
*.py[cod]

# Log files
*.log

# System files
.DS_Store
Thumbs.db

# Other
.idea/
.vscode/
.github/